<div class="question-container">
  <h2 class="question-title" *ngIf="!isCurrentUserQuestionAuthor() && !isCurrentUserAdmin()">{{ question?.title }}</h2>
  <input class="question-title" *ngIf="isCurrentUserQuestionAuthor() || isCurrentUserAdmin()" [(ngModel)]="question.title">

  <p class="question-description" *ngIf="!isCurrentUserQuestionAuthor() && !isCurrentUserAdmin()">{{ question?.text }}</p>
  <input class="question-description" *ngIf="isCurrentUserQuestionAuthor() || isCurrentUserAdmin()" [(ngModel)]="question.text">
  <p class="question-tags" *ngIf="!isCurrentUserQuestionAuthor() && !isCurrentUserAdmin()">
    <strong>Tags:</strong>
    <span *ngFor="let tag of question?.tags">{{ tag }}</span>
  </p>
  <input class="question-tags" *ngIf="isCurrentUserQuestionAuthor() || isCurrentUserAdmin()" [(ngModel)]="tagsText">
  <p class="question-user"><strong>User:</strong> {{ author?.name }}</p>
  <div class="review-buttons">
    <div *ngIf="isCurrentUserQuestionAuthor() || isCurrentUserAdmin()">
      <button class="simple-button" (click)="editQuestion()">Edit</button>
      <button class="simple-button" (click)="deleteQuestion()">Delete</button>
    </div>
    <div *ngIf="!isCurrentUserQuestionAuthor() && !isCurrentUserAdmin()">
      <button class="like-button" (click) = "voteQuestion(true)"> Like </button>
      <button class="dislike-button" (click) = "voteQuestion(false)">Dislike</button>
      <p class="question-rating">{{ likes }} likes</p>
    </div>
  </div>


  </div>
  <form class="answer-form">
    <textarea id="answer" rows="4" placeholder="Enter your answer"></textarea>
    <button (click)="submit_answer()" type="submit">Submit Answer</button>
  </form>
  <h2>Responses</h2>
  <div *ngFor="let response of question?.answers" class="response-container">
    <div class="response-user">{{ response?.user?.firstName}}</div>
    <div *ngIf="!isCurrentUserAnswerAuthor(response?.user)&& !isCurrentUserAdmin()">
      <div class="response-content">{{ response?.text }}</div>
    </div>
    <div *ngIf="isCurrentUserAnswerAuthor(response?.user) || isCurrentUserAdmin()">
      <textarea class="response-content" style="resize: block" [(ngModel)]="response.text"></textarea>
    </div>
    <div class="review-buttons">
      <div *ngIf="isCurrentUserAnswerAuthor(response?.user) || isCurrentUserAdmin()">
        <button class="simple-button" (click)="editAnswer(response)">Edit</button>
        <button class="simple-button" (click)="deleteAnswer(response)">Delete</button>
      </div>
      <div *ngIf="!isCurrentUserAnswerAuthor(response?.user)&& !isCurrentUserAdmin()">
        <button class="like-button" (click) = "voteAnswer(true, response)"> Like </button>
        <button class="dislike-button" (click) = "voteAnswer(false, response)">Dislike</button>
        <p class="question-rating">{{ response.likes }} likes</p>
      </div>
  </div>
</div>


