.users-window {
  text-align: center;
}

.user-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-button-container {
  margin-bottom: 10px;
}

.user-button,
.ban-button {
  width: 200px;
  height: 40px;
  margin-bottom: 5px;
}

.user-button {
  background-color: #4a4a91;
  color: white;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.ban-button {
  background-color: #8a4e4e;
  color: white;
  padding: 5px;
  border: none;
  cursor: pointer;
}
